@font-face {
  font-family: Staatliches;
  src: url(../fonts/Staatliches-Regular.ttf);
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
}

.App header {
  height: 100vh;
  background-image: url(../images/home_photo.jpg);
  background-position-x: 50%;
  background-position-y: 25%;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Staatliches', cursive;
}

.App header svg {
  height: 150px;
  width: 650px;
  font-size: 4.5em;
  fill: rgba(133, 218, 195, 0);
  stroke: rgba(0, 0, 139, 0);
  stroke-width: 5px;
  stroke-dasharray: 0,0;
  letter-spacing: 2px;
  -webkit-animation: headerText 2s ease-in-out 0.5s forwards;
          animation: headerText 2s ease-in-out 0.5s forwards;
}

.App header div {
  position: relative;
  margin: 0 auto;
  width: 300px;
  color: darkblue;
  font-size: 1.5em;
}

.App header div::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 50%;
  width: 0%;
  opacity: 0;
  -webkit-animation: headerBorder 1.5s ease-in-out 1s forwards;
          animation: headerBorder 1.5s ease-in-out 1s forwards;
}

.App header div::after {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  width: 0%;
  -webkit-animation: headerBorder 1.5s ease-in-out 1s forwards;
          animation: headerBorder 1.5s ease-in-out 1s forwards;
}

nav {
  font-family: 'Staatliches', cursive;
  -webkit-box-shadow: 0 5px 8px rgba(128, 128, 128, 0.4);
          box-shadow: 0 5px 8px rgba(128, 128, 128, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav div a {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.green1:hover {
  border-bottom: 2px solid greenyellow;
  color: greenyellow;
}

.green2:hover {
  border-bottom: 2px solid #71ff2f;
  color: #71ff2f;
}

.green3:hover {
  border-bottom: 2px solid #2fff40;
  color: #27e437;
}

.green4:hover {
  border-bottom: 2px solid #21c71b;
  color: #21c71b;
}

.green5:hover {
  border-bottom: 2px solid forestgreen;
  color: forestgreen;
}

main {
  padding: 75px 20%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  background-color: #68bca5;
  color: white;
}

@media screen and (max-width: 1000px) {
  .App header svg {
    font-size: 4em;
    width: 575px;
  }
}

@media screen and (max-width: 750px) {
  .App header svg {
    font-size: 2.4em;
    width: 360px;
  }
  main {
    padding: 50px 5%;
  }
  nav a {
    padding: 5px 10px;
    font-size: 1.1em;
  }
}

@-webkit-keyframes headerText {
  0% {
    stroke-dasharray: 0,100;
    stroke: darkblue;
  }
  100% {
    stroke: darkblue;
    stroke-dasharray: 100, 0;
    fill: #85dac3;
  }
}

@keyframes headerText {
  0% {
    stroke-dasharray: 0,100;
    stroke: darkblue;
  }
  100% {
    stroke: darkblue;
    stroke-dasharray: 100, 0;
    fill: #85dac3;
  }
}

@-webkit-keyframes headerBorder {
  0% {
    opacity: 0;
    width: 0%;
  }
  1% {
    opacity: 1;
    width: 0%;
    border: 2px solid darkblue;
  }
  100% {
    opacity: 1;
    width: 50%;
    border: 2px solid darkblue;
  }
}

@keyframes headerBorder {
  0% {
    opacity: 0;
    width: 0%;
  }
  1% {
    opacity: 1;
    width: 0%;
    border: 2px solid darkblue;
  }
  100% {
    opacity: 1;
    width: 50%;
    border: 2px solid darkblue;
  }
}
/*# sourceMappingURL=App.css.map */