#details {
    h2 {
        color: #94c494;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div { width: 50%;}
    h3{ text-align: center;}
    li { text-align: left; list-style-position: inside;}
}

@media screen and (max-width: 800px){
    .row-container { 
        flex-direction: column;
        div {
            width: 100%;
        }
    }
}
