#details {
    h2 {
        color: #488b48;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }
    h3{ text-align: center;}
    #mcminister::after {
         content: " Karen Chen";
         font-weight: normal;
         font-size: 0.9em;
    }
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div { width: 50%;}
    li { text-align: left; list-style-position: inside;}
}

@media screen and (max-width: 800px){
    .row-container { 
        flex-direction: column;
        div {
            width: 100%;
        }
    }
}
