#home{
    h2 { color: #94c494; }
    & > p { 
        font-size: 1.2em; 
        text-indent: 50px; 
        line-height: 45px;
    }
    
    span{
        font-weight: bold;
        font-style: italic;
    }
}

#card-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    .card {
        width: 300px;
        height: 425px;
        margin: 20px;
        padding: 20px;
        line-height: 25px;
        img{
            width: 300px;
            height: 200px;
            object-fit: cover;
        }
        h2{ margin: 15px 0px; font-family: 'Staatliches', cursive; }
        p{ margin: 0;}
    }
}

@media screen and (max-width: 950px) {
    #card-container { flex-direction: column; }
}