#photos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

$slideshow-width: 800px;
$slideshow-height: 700px;

#slideshow {
    position: relative;
    width: $slideshow-width;
    height: $slideshow-height;
    background: black;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.chevron {
    z-index: 10;
    position: absolute;
    top: 45%;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: white;
    color: color;
    opacity: 0.5;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    cursor: pointer;
    &:hover{ opacity: 1; }
}

#btn-previous{ left: 0; }

#btn-next { right: 0; }

@media screen and (max-width: 800px){
    #slideshow {
        width: $slideshow-width/2;
        
    }
    .chevron { height: 30px; width: 30px;}
}