#rsvp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    span { 
        color: #488b48; 
        font-weight: bold; 
        text-decoration: underline;
    }
}



.no-error {
    opacity: 0;
    padding: 10px 20px;
    margin-top: 0;
}

.error-found {
    margin-top: 0;
    opacity: 1;
    padding: 10px 20px;
    color: #7b3438;
    background-color: #f7d7da;
    border-left: 3px solid #7b3438;
}

.email-sent {
    margin-top: 0;
    opacity: 1;
    padding: 10px 20px;
    color: #3c6c47;
    background-color: #d4edda;
    border-left: 3px solid #3c6c47;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: none;
    width: 300px;
    label { padding: 5px; }
    input { padding: 5px; width: 100%;}
    textarea {
        width: 100%;
        height: 200px;
    }
}

.btn-submit {
    border: none;
    border-radius: 5px;
    background-color: #007aff;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.175s;
    &:hover {
        background-color: #0062ca;
    }
}