#rsvp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    span { 
        color: #488b48; 
        font-weight: bold; 
        text-decoration: underline;
    }
}